:root{
  --button: #3D5AF1;
  --text-light: white;
}

*{
  margin: 0;
  padding: 0;
  background-color: #303a52;
  font-family: 'Poppins';
  color: white;
}

.heading-title{
  font-weight: 800;
  font-style: normal;
  font-size: 45px;
  font-family: 'Poppins';
  line-height: 117px;
  margin-top: 30px;
  color: white;
  transition: 0.2s ease;

}

.cta-button{
  border: 4px solid floralwhite;
  padding: 12px;
  width: 122px;
  border-radius: 6px;
  margin: -98px;
  margin-top: -78px;
  margin-left: -100px;
  color: floralwhite;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 600;

}

/*.cta-button:hover{
  background-color: black;
  padding: 12px;
  width: 122px;
  border-radius: 6px;
  color: white;
  font-family: 'Poppins';
  transition: 0.4s ease-in-out;
}
*/
.generatedQuote{
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  margin: 73px;
  margin-top: 30px;
  margin-left: 103px;
  z-index: -1;
  padding: 2rem;
  color: white;
  border: 4px solid white;
  border-radius: 6px;
}

.toggleStyle{
  font-family: 'Poppins';
  font-size: 16px;
  margin: 73px;
  margin-left: 103px;
  z-index: -1;
  padding: 23px;
  color: white;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  line-height: 45px;
}

.notToggleStyle{
  font-family: 'Poppins';
  font-size: 17px;
  color: white;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  line-height: 43px;
}

@media screen and (max-width: 768px){
  .heading-title{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    transition: 0.2s ease;
  }
  .generatedQuote{
    display: flex;
    margin-left: 54px;
    margin-top: -8px;
    word-wrap: normal;
    border: 2px solid white;
  }

  .cta-button{
    font-size: 15px;
  }

  
  .notToggleStyle{
    font-size: 14px;
    color: ghostwhite;
  }

  .toggleStyle{
    font-size: 17px;
    margin-top: -23px;
    color: white;
  }
}

@media screen and (max-width: 600px){
  .heading-title{
   font-size: 25px;
  }

  .cta-button{
    font-size: 14px;
    margin-left: -124px;
    margin-top: -56px;
  }

  .notToggleStyle{
    font-size: 13px;
    color: floralwhite;
  }

  .toggleStyle{
    font-size: 15px;
    margin-left: 63px;
    margin-top: -23px;
    color: white;
  }

  .generatedQuote{
    font-size: .9rem;
    color: white;
  }
}
